
.vs/miniprojekt/xs/project-cache/miniprojekt-blazor-Debug.json
.vs/miniprojekt/xs/project-cache/miniprojekt-web-api-Debug.json
.vs/miniprojekt/xs/project-cache/Shared-Debug.json
miniprojekt-blazor/miniprojekt-blazor/obj/Debug/net7.0/miniprojekt-blazor.assets.cache
miniprojekt-blazor/miniprojekt-blazor/obj/Debug/net7.0/miniprojekt-blazor.csproj.AssemblyReference.cache
miniprojekt-blazor/miniprojekt-blazor/obj/Debug/net7.0/miniprojekt-blazor.GeneratedMSBuildEditorConfig.editorconfig
miniprojekt-blazor/miniprojekt-blazor/obj/miniprojekt-blazor.csproj.nuget.dgspec.json
miniprojekt-blazor/miniprojekt-blazor/obj/miniprojekt-blazor.csproj.nuget.g.props
miniprojekt-blazor/miniprojekt-blazor/obj/project.assets.json
miniprojekt-blazor/miniprojekt-blazor/obj/project.nuget.cache
miniprojekt-web-api/miniprojekt-web-api/obj/Debug/net7.0/apphost
miniprojekt-web-api/miniprojekt-web-api/obj/Debug/net7.0/miniprojekt-web-api.assets.cache
miniprojekt-web-api/miniprojekt-web-api/obj/Debug/net7.0/miniprojekt-web-api.csproj.AssemblyReference.cache
miniprojekt-web-api/miniprojekt-web-api/obj/Debug/net7.0/miniprojekt-web-api.GeneratedMSBuildEditorConfig.editorconfig
miniprojekt-web-api/miniprojekt-web-api/obj/miniprojekt-web-api.csproj.nuget.dgspec.json
miniprojekt-web-api/miniprojekt-web-api/obj/miniprojekt-web-api.csproj.nuget.g.props
miniprojekt-web-api/miniprojekt-web-api/obj/project.assets.json
miniprojekt-web-api/miniprojekt-web-api/obj/project.nuget.cache
shared/obj/Debug/net6.0/shared.assets.cache
shared/obj/Debug/net6.0/shared.GeneratedMSBuildEditorConfig.editorconfig
shared/obj/project.assets.json
shared/obj/project.nuget.cache
shared/obj/Shared.csproj.nuget.dgspec.json
shared/obj/shared.csproj.nuget.g.props
